@charset "UTF-8";
@import url("/resources/style/style_Reset.css");

*{
	box-sizing:content-box;
}
div#wrap{
	margin-top: 100px;
	height: 500px;
	/* border: 1px solid #000; */
}
table{
	border-collapse : collapse;
	text-align:center;
    margin: 30px auto 0;
}
table th#num{
	width: 35px;
	/* border: 1px solid #000; */
}
table th#thname{
	width: 90px;
	/* border: 1px solid #000; */
}
table th#Day{
	width: 160px;
	/* border: 1px solid #000; */
}
table th#viewCnt{
	width: 90px;
	/* border: 1px solid #000; */
}
table th{
	padding: 10px 2px;
	background-color: rgba(255,0,0,0.1);
}
form#searchFrm{
	margin-top: 20px;
    /* border: 1px solid #000; */
	transform:translateX(45px);
}
select#keyField{
	height: 32px;
}
input#keyWord{
	height: 30px;
	margin-right: 180px;
}
div.bbsWrite{
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

div.bbsRead{
	width: 800px;
	margin: 0 auto;
	padding: 10px;

}
div.bbsRead h2{
	padding: 10px 2px;
	background-color: rgba(255,0,0,0.1);
}
table#readTbl{
	width: 770px;
	border: 1px solid #000;
}
tr.listName{
	padding: 10px 2px;
	background-color: rgba(255,0,0,0.1);
	border: 1px solid #000;
}
td.line{
	border: 1px solid #000;
}
div.bbsList{
	width: 800px;
	height: 300px;
	margin: 30px auto 0;
	padding: 10px;

}
td.aName{
	width: 60px;
}
.bbsWrite h2 {
	padding: 10px 2px;
	background-color: rgba(255,0,0,0.1);
	text-align:center;
}
.bbsWrite form table{
	
	width: 700px;
	margin: 0 auto;
}

button{
	outline:none;
	width: 120px;
	margin: 0 4px;
	height: 30px;
	background-color: rgba(255,0,0,0.1);
	font-weight: bold;
	border: none;
	/* border: 1px solid #000; */
}
textarea{
	width: 500px;
	height:250px;
	 resize : none;
}
input#subject{
	width: 498px;
}

/*//////////////////////////// 시작 ///////////////////////////////*/
/*//////////////////////////// 끝 ///////////////////////////////*/



/*////////////// 시작 /////////////////*/
/*////////////// 끝 /////////////////*/


/*시작 */
/* 끝 */