@charset "UTF-8";
@import url("/resources/style/style_Reset.css");

/*////////////////////////////////////////////////////////////////////*/
/*////////////////// BBS list 목록 시작 /bbs/Notlist.jsp ////////////////// */
/*////////////////////////////////////////////////////////////////////*/
div#wrap.InqlistWrap  div#contents{
	margin: 50px auto;
}

 .InqlistWrap div.moveMenu {
 margin: 20px 50px 50px 4px;
 }
button.headBtn {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 15px 100px;
	margin: 0px;
	background-color: rgba(255, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
}
div#wrap>div#contents>table#InquireTbl {
	width: 860px;
	padding: 2px;
	border-collapse: collapse;
	text-align: center;
	margin: 4px;
	font-size: 16px;
	padding: 2px 6px;
}

/* div.bbsList div#pageInfo {
	width: 100%;
	padding: 2px 10px;
	margin-bottom: 4px;
	justify-content: space-between;
}
 */


.InqlistWrap div.moveMenu>a {
	padding-left: 10px;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

div#contents>table#InquireTbl>thead>tr>th {
	padding: 10px 2px;
	background-color: rgba(255, 0, 0, 0.1);
}

table#InquireTbl th:first-child, table#InquireTbl th:last-child {
	width: 70px;
	border-radius: 4px;
}

table#InquireTbl th:nth-child(2) {
	width: 100px;
}

table#InquireTbl th:nth-child(3) {
	width: 200px;
}

table#InquireTbl th:nth-child(4) {
	width: 220px;
}

table#InquireTbl th:nth-child(5) {
	width: 180px;
}

table#InquireTbl>tbody>tr.listTr {
	height: 50px;
}

table#InquireTbl tbody>tr.listTr:hover {
	background-color: rgba(0, 136, 255, 0.1);
	cursor: pointer;
}

table#InquireTbl tbody>tr.listTr:hover td {
	color: #666;
	font-weight: bold;
}

table#InquireTbl tbody>tr.listTr>td {
	text-align: center;
	border-bottom: 1px solid #d2d2d2;
	height: 50px;
}

/* 리스트 페이지 버튼 공통 스타일 시작 */
table#InquireTbl button.listBtnStyle {
	font-size: 16px;
	font-weight: bold;
	padding: 2px 6px;
	cursor: pointer;
	background-color: rgba(255, 0, 0, 0.1);
	border: none;
}

div.bbsList button#inqBtn {
	font-size: 16px;
	font-weight: bold;
	padding: 8px 20px;
	cursor: pointer;
	background-color: rgba(255, 0, 0, 0.1);
	border: none;
	border-radius: 1px;
}

div.bbsList button#loginAlertBtn {
	font-size: 16px;
	font-weight: bold;
	padding: 8px 20px;
	cursor: pointer;
	background-color: pink;
	border: none;
	border-radius: 1px;
}
/* 리스트 페이지 버튼 공통 스타일 끝 */

/* 리스트 /bbs_Inquire/Inquirebbs.jsp 글쓰기, 검색 영역 시작 */
/* table#InquireTbl tr#listBtnArea td {
	padding-top: 20px;
}

table#InquireTbl form#searchFrm {
	justify-content: flex-end;
}
 */

/* 리스트 /bbs/list.jsp 글쓰기, 검색 영역 끝 */

/* 리스트 /bbs/list.jsp  페이징 영역 시작 */

/* div.bbsList tr#listPagingArea td {
	padding-top: 20px;
}

div.bbsList td#pagingTd {
	text-align: center;
}

div.bbsList td#pagingTd span {
	width: 30px;
	height: 30px;
	font-weight: 12px;
	text-align: center;
	line-height: 30px;
	margin: 10px 2px;
	display: inline-block;
	cursor: pointer;
}

div.bbsList td#pagingTd span:hover {
	color: #aaa;
}

div.bbsList td#pagingTd span.nowPageNum {
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(136, 136, 136, 0.1);
	cursor: default;
}

div.bbsList td#pagingTd span.moveBlockArea {
	width: 30px;
	height: 30px;
	font-size: 12px;
	margin: 0 6px;
	display: inline-block;
} */

/* 리스트 /bbs/list.jsp  페이징 영역 끝 */

/*////////////////////////////////////////////////////////////////////*/
/*////////////////// BBS list 목록 끝 /bbs/Notlist.jsp ////////////////// */
/*////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////*/
/*////////////////// BBS 글쓰기 시작 /bbs/Notwrite.jsp ////////////////// */
/*////////////////////////////////////////////////////////////////////*/
div#wrap_bbs {
	width: 600px;
	padding: 20px;
	border: 3px solid #aaa;
	border-radius: 6px;
	margin: 10px auto;
}
h2 {
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	background-color:rgba(255, 0, 0, 0.1);
}

 
main#main {
	margin: 0 auto;
}

main#main>div.bbsWrite {
	padding: 10px 0;
	margin-bottom: 20px;
	width: 600px;
	margin: 0 auto;
	border-color: #eeeeee;
}

#main>.bbsWrite table {
	width: 600px;
	border-collapse: collapse;
}

#main>.bbsWrite table tr {
	text-align: left;
}

#main>.bbsWrite table tbody td {
	padding: 10px;
	text-align: left;
}

#main>.bbsWrite table tbody tr td input#uid {
	width: 100px;
	font-weight: bold;
	text-align: left;
	border: none;
}

#main>.bbsWrite table tbody tr td input#uName {
	border: none;
	font-weight: bold;
	text-align: left;
}

#main>.bbsWrite table tfoot td hr {
	border: 2px solid #ccc;
}

#main>.bbsWrite table tfoot td {
	width: 600px;
	text-align: left;
	padding: 4px 0;
	/*border: 1px solid #aaa;*/
}

#main>.bbsWrite td.req::after {
	content: " *";
	color: #d74;
	font-weight: bold;
}

#main>.bbsWrite input#subject {
	width: 400px;
}

::-webkit-file-upload-button {
	font-weight: bold;
	padding: 4px 10px;
	cursor: pointer;
}

#main>.bbsWrite textarea#content {
	height: 140px;
	width: 600px;
	resize: none;
}

#main>.bbsWrite label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsWrite label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsWrite input {
	font-size: 17px;
	padding: 5px 10px;
}

#main textarea {
	font-size: 17px;
	padding: 5px 10px;
	width: 550px;
}

#main>.bbsWrite td.contentTD {
	vertical-align: top;
	padding-top: 30px;
}

#main>.bbsWrite span.spanFile {
	padding: 10px;
}

#main>.bbsWrite label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsWrite label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsWrite button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

#aside {
	margin: 0 auto;
	width: 600px;
}

#aside div#submitBtn button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/
/*////////////////// BBS 글쓰기 끝 /bbs/NotWrite.jsp ////////////////// */
/*////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS  게시글 상세보기 페이지 시작 /bbs/Notdetail.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/
main#main>div.bbsDetail {
	padding: 10px 0;
	margin-bottom: 20px;
	width: 600px;
	margin: 0 auto;
	border-color: #eeeeee;
}



/*다운로드 시작*/
#main>.bbsRead #readTblBody span#downloadFile:hover {
	color: #555;
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	transform: translateY(-1px);
}

/*다운로드 끝*/

/* hr {
	margin: 20px auto;
} */
main#main {
	margin: 0 auto;
}

main#main>div.bbsDetail {
	padding: 10px 0;
	margin-bottom: 20px;
	width: 600px;
	margin: 0 auto;
	border-color: #eeeeee;
}

#main>.bbsDetail table {
	width: 555px;
	border-collapse: collapse;
}

#main>.bbsDetail table tbody tr {
	text-align: left;
	border-bottom: 1px solid #eee;
	
}

#main>.bbsDetail table tbody tr td {
	padding: 20px 15px;
	text-align: left;	
}

#main>.bbsDetail table tbody tr td:first-child {
	width: 10px;
	font-weight: bold;
	text-align: left;
	background-color: rgba(220, 220, 220, 0.2);
	
	
}
#main>.bbsDetail table tbody tr td:last-child {
	width: 170px;
	font-weight: bold;
	text-align: left;
	
}
#main>.bbsDetail table tfoot td hr {
	border: 2px solid #ccc;
}

#main>.bbsDetail table tfoot td {
	width: 600px;
	text-align: left;
	padding: 4px 0;
	/*border: 1px solid #aaa;*/
}

#main>.bbsDetail td.req::after {
	content: " *";
	color: #d74;
	font-weight: bold;
}

::-webkit-file-upload-button {
	font-weight: bold;
	padding: 4px 10px;
	cursor: pointer;
}

#main textarea#content {
	height: 140px;
	width: 554px;
	resize: none;
	border: 1px solid #eee;
}

#main>.bbsDetail label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsDetail label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsDetail input {
	font-size: 17px;
	padding: 5px 10px;
}

#main textarea {
	font-size: 17px;
	padding: 5px 10px;
	width: 550px;
}

#main>.bbsDetail td.contentTD {
	vertical-align: top;
	padding-top: 30px;
}

#main>.bbsDetail span.spanFile {
	padding: 10px;
}

#main>.bbsDetail label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsDetail label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsDetail button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

#aside {
	margin: 0 auto;
	width: 600px;
}

#aside div#submitBtn button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS  게시글 상세보기 페이지 끝 /bbs/Notdetail.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS 게시글 수정 페이지 시작 bbs/Notupd.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/
main#main>div.bbsUpd {
	padding: 10px 0;
	margin-bottom: 20px;
	width: 600px;
	margin: 0 auto;
	border-color: #eeeeee;
}

/*다운로드 시작*/
#main>.bbsRead #readTblBody span#downloadFile:hover {
	color: #555;
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	transform: translateY(-1px);
}

/*다운로드 끝*/

/* hr {
	margin: 20px auto;
} */
main#main {
	margin: 0 auto;
}



#main>.bbsUpd table {
	width: 600px;
	border-collapse: collapse;
}

#main>.bbsUpd table tbody tr {
	text-align: left;
}

#main>.bbsUpd table tbody tr td {
	padding: 10px;
	text-align: left;
}

#main>.bbsUpd table tbody tr td input#uid {
	width: 100px;
	font-weight: bold;
	text-align: left;
	border: none;
}

#main>.bbsUpd table tbody tr td input#uName {
	border: none;
	font-weight: bold;
	text-align: left;
}

#main>.bbsUpd table tbody tr td:first-child {
	font-weight: bold;
	text-align: left;
	
}


#main>.bbsUpd  input#subject {
	width: 400px;
}

#main>.bbsUpd table tfoot td hr {
	border: 2px solid #ccc;
}

#main>.bbsUpd table tfoot td {
	width: 600px;
	text-align: left;
	padding: 4px 0;
	/*border: 1px solid #aaa;*/
}

#main>.bbsUpd td.req::after {
	content: " *";
	color: #d74;
	font-weight: bold;
}

::-webkit-file-upload-button {
	font-weight: bold;
	padding: 4px 10px;
	cursor: pointer;
}

#main>.bbsUpd label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsUpd label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsUpd input {
	font-size: 17px;
	padding: 5px 10px;
}

#main textarea {
	font-size: 17px;
	padding: 5px 10px;
	width: 550px;
}

#main>.bbsUpd td.contentTD {
	vertical-align: top;
	padding-top: 30px;
}

#main>.bbsUpd span.spanFile {
	padding: 10px;
}

#main>.bbsUpd label {
	margin: 0 20px;
	cursor: pointer;
}

#main>.bbsUpd label span {
	font-size: 18px;
	font-weight: bold;
}

#main>.bbsUpd button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

#aside {
	margin: 0 auto;
	width: 600px;
}

#aside div#submitBtn button {
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS 게시글 수정 페이지 끝 /bbs_Inquire/modify.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS 게시글 답변글 페이지 시작 /bbs_Inquire/reply.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/
main#main>div.reply h2 {
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 136, 255, 0.1);
}

#main>.reply table#replyTbl {
	width: 100%;
	border-collapse: collapse;
}

#main>.reply tbody#replyTblBody th, #main>.reply tbody#replyTblBody td {
	padding: 14px 6px;
	border-bottom: 1px solid #eee;
}

#main>.reply tbody#replyTblBody th:nth-child(1), #main>.reply tbody#replyTblBody td:nth-child(1)
	{
	width: 120px;
	font-weight: bold;
	text-align: center;
	background-color: rgba(220, 220, 220, 0.2);
}

#main>.reply td.req::after {
	content: " *";
	color: #d74;
	font-weight: bold;
}

#main>.reply tbody#replyTblBody input {
	padding: 5px 10px;
}

#main>.reply tbody#replyTblBody textarea#txtArea {
	height: 160px;
	padding: 10px;
}

#main>.reply tbody#replyTblBody textarea#ori_TxtArea {
	height: 160px;
	padding: 10px;
	border: 1px solid #eee !important;
	outline: none;
	resize: none;
	/* textarea 입력영역 크기고정 */
}

#main>.reply span.ori_Txt {
	font-size: 13px;
	margin-left: 4px;
}

#main>.reply span.ori_Txt::before {
	content: "•";
}

#main>.reply span#ori_SpanTxtArea {
	margin: 10px 0 4px 6px;
	display: block;
}

#main>.reply td#footTopSpace {
	height: 30px;
}

#main>.reply tfoot td#hrTd {
	height: 30px;
	vertical-align: top;
	padding-top: 10px;
}

#main>.reply tfoot hr {
	border: 2px solid #eee;
	border-top-color: #ddd;
}

#main>.reply tfoot td#btnAreaTd {
	text-align: center;
}

#main>.reply tfoot td#btnAreaTd button {
	width: 110px;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 20px;
	cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/
/*///////////// BBS 게시글 답변글 페이지 끝 /bbs_Inquire/reply.jsp ///////////// */
/*////////////////////////////////////////////////////////////////////*/